@import "tailwindcss";

@theme {
    --animate-floating: floating 2s ease-in-out infinite;

    @keyframes floating {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-25%);
        }
    }
}